identities:
  'Günter Gras':
    macs: 
      - xx:xx:xx:xx:xx
    contacts:
      email: 'günter@gras.de'
  'Günter Kastenfrosch':
    macs:
      - xx:xx:xx:xx:xx
      - xx:xx:xx:xx:xx
    contacts:
      jabber: 'frosch@janosh.de'

jabber:
  jabber_id: 'jabber@jabber.de'
  password:  '-__---__--'
  master:    'jabber2@jabber.de'

sysfetch:
  interface: 'eth0'

